@import url("common.css");
.gameField {
    width: 455px;
    height: 455px;
    border: 1px solid white;
    padding: 20px;
}
button{
    cursor: pointer;

    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;

    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}
.button:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,.2),
    0 2px 0 rgba(255,255,255,.4),
    inset 0 2px 0 rgba(0,0,0,.1);
    background-color: white;
}
.startButton{
    margin: 0px 0px 0px 0px;
    width: 80px;
    height: 30px;
    border-radius: 0%;
    background-color: white;
}
.switchOpen{
    background-color: white;
}
.switchClosed{
    background-color: black;
}